<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playseeds.android.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name="com.playseeds.android.sdk.inappmessaging.RichMediaActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="false" />

        <activity android:name="com.playseeds.android.sdk.inappmessaging.InAppWebView"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>

</manifest>
